In [1]:
import pandas 
# read and assign s1 and s2 to csv file
s1 = pandas.read_csv("jan.csv")
s2 = pandas.read_csv("feb.csv")
# concatenate both together
s3 = pandas.concat([s1,s2],ignore_index=True, axis=1)
s3.reset_index(inplace=True, drop=True)
# create new file after concatenate
s3 = s3.to_csv("new.csv")
# assign to read 
s3 = pandas.read_csv("new.csv")

In [2]:
s3

   Unnamed: 0               0      1            2      3
0           0     STOP & SHOP -30.33    SKY FOODS -63.41
1           1  US SUPERMARKET -24.24  STOP & SHOP -34.58
2           2           AMZN  -10.88    RCN*CABLE -71.36
3           3           AMZN  -15.23        AMZN  -57.49
4           4             NaN   0.00  DOLLAR TREE  -6.44
5           5             NaN   0.00        AMZN  -49.97
6           6             NaN   0.00        USPS   -5.35